.buy-search-form-label {
  margin: 0 1rem 0 0;
}

.buy-search-form {
  margin: auto;
}

.buy-product-container {
  // border-radius: 0.5rem;
  // border: 1px solid #fff;
  margin-top: 4rem;
}

.buy-product-thumbnail {
  border-radius: 0.5rem;
  margin: 1.5rem auto;
  height: 100%;
  width: 100%;
}

.buy-product-title {
  color: #000;
  margin: 2rem auto;
  padding: 0 10% 0 5%;
  position: absolute;
}

.buy-product-price {
  color: #000;
  position: absolute;
  margin: -5rem 1rem 0;
}
