<div class="container" ngController="BuyController as buy">
  <div class="row">
    <acme-navbar></acme-navbar>
  </div>

  <!-- search form -->
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" action="search" ng-switch="buy.category">
        <div class="form-group">
          <label class="buy-search-form-label">Filter By</label>

          <!-- category -->
          <select class="form-control buy-search-form">
            <option>category</option>
            <option ng-repeat="cat in buy.category" value="{{cat.value}}">{{cat.value}}</option>
          </select>

          <!-- condition -->
          <select class="form-control buy-search-form">
            <option>condition</option>
            <option ng-repeat="cond in buy.condition" value="{{cond.value}}">{{cond.value}}</option>
          </select>

          <!-- brand -->
          <select class="form-control buy-search-form" ng-switch-when="car">
            <option>car brand</option>
            <option ng-repeat="brand in buy.carBrand" value="{{brand.value}}">{{brand.value}}</option>
          </select>

          <select class="form-control buy-search-form" ng-switch-when="motorcycle">
            <option>motorcycle brand</option>
            <option ng-repeat="brand in buy.motoBrand" value="{{brand.value}}">{{brand.value}}</option>
          </select>

          <!-- body -->
          <select class="form-control buy-search-form" ng-switch-when="car">
            <option>bodyStyle</option>
            <option ng-repeat="body in buy.bodyStyle" value="{{body.value}}">{{body.name}}</option>
          </select>

        </div>
      </form>
    </div>
  </div>

  <!-- Products Displayed -->
  <div class="row">

    <div class="col-md-3 col-sm-3 col-xs-12 buy-product-container" ng-repeat="vehicles in buy.car">
      <a ng-href="#/product-detail">
        <h3 class="h3 buy-product-title">{{buy.cars.brand + " " + buy.cars.model + " " + buy.cars.year}}</h3>
        <img class="buy-product-thumbnail" ng-src="{{buy.cars.image}}">
        <h4 class="h4 buy-product-price">{{"$ " + buy.cars.price}}</h4>
      </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12 buy-product-container" ng-repeat="vehicles in buy.bike">
      <a ng-href="#/product-detail">
        <h3 class="h3 buy-product-title">{{buy.bikes.brand + " " + buy.bikes.model + " " + buy.bikes.year}}</h3>
        <img class="buy-product-thumbnail" ng-src="{{buy.bikes.image}}">
        <h4 class="h4 buy-product-price">{{"$ " + buy.bikes.price}}</h4>
      </a>
    </div>

  </div>

  <div class="row">
    <main-footer></main-footer>
  </div>
</div>
