/* colors */

$main-text-color: #fff;
$hover-color: rgba(255, 255, 255, 0.1);
$options-color: #000;
$input-group-addons: rgba(253, 178 , 41, 0.2);
$buy-select-action: rgba(20, 20, 20, 0.4);
$link-hover: #FD8A01;
