<div class="container">
  <div class="row">
    <acme-navbar></acme-navbar>
  </div>

  <div class="row">

    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <form class="register-form" action="log-user">
        <label class="register-label text-center" for="name">Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name" required="required">

        <label class="register-label text-center" for="user-name">User Name</label>
        <input class="form-control" type="text" name="user-name" placeholder="User Name" required="required">

        <label class="register-label text-center" for="email">Email</label>
        <input class="form-control" type="email" name="email" placeholder="email" required="required">

        <label class="register-label text-center" for="phone">Phone Number</label>
        <input class="form-control" type="tel" name="phone" placeholder="Phone Number">

        <label class="register-label text-center" for="password">Password</label>
        <input class="form-control" type="password" name="password" placeholder="Password" required="required">
        <label class="register-label text-center" for="pass-confirm">Confirm Password</label>
        <input class=" form-control" type="password" name="pass-confirm" placeholder="Confirm password" required="required">

        <button class="btn btn-success register-btn">Register</button>
      </form>
    </div>
  </div>

  <div class="row">
    <main-footer></main-footer>
  </div>
</div>
