<div class="container" ng-controller="LoginController as login">
  <div class="row">
    <acme-navbar></acme-navbar>
  </div>

  <div class="row">

    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <!-- Login Form -->
      <form class="login-form" name="login-form" ng-submit="login.enter()">
        <label class="login-label text-center" for="user-name">User Name</label>
        <input class="form-control" type="text" ng-model="login.user_name" name="user-name" placeholder="User Name" required="required">
        <label class="login-label text-center" for="password">Password</label>
        <input class="form-control" type="password" ng-model="login.user_password" name="password" placeholder="Password" required="required">
        <button class="btn btn-success login-btn" type="submit">Log in</button>
      </form>
    </div>
  </div>

  <div class="row">
    <main-footer></main-footer>
  </div>
</div>
