.action-buy,
.action-sell {
  border-top: 1px solid $main-text-color;
  border-bottom: 1px solid  $main-text-color;
  background-size: cover;
  background-color: $buy-select-action;
  display: inline-block;
  margin-top: 10rem;
  width: 50%;

  a {
    color: $main-text-color;
    &:hover {
      color: $link-hover;
      text-decoration: none;
    }
  }

  h3 {
    font-size: 6rem;

    @media(max-width: 320px) {
      font-size: 3.5rem;
      width: 90%;
    }
  }
}

.action-buy{
  border-radius: 2rem 0 0 2rem;
  float: left;

  & .overlay {
    border-radius: 2rem 0 0 2rem;
  }
}

.action-sell {
  border-radius: 0 2rem 2rem 0;
  float: rigth;

  & .overlay {
    border-radius: 0 2rem 2rem 0;
  }
}

.overlay {
  height: 100%;
  overflow: hidden;
  padding: 10rem 0;
  width: 100%;

  &:hover {
    background-color: $hover-color;
  }

  @media(max-width: 320px) {
    padding: 2rem 0;
  }

}

