.action-buy,
.action-sell {
  border-top: 1px solid #FDB329;
  border-bottom: 1px solid #FDB329;
  background-size: cover;
  background-color: rgba(20, 20, 20, 0.4);
  display: inline-block;
  margin-top: 10rem;
  width: 50%;

  a {
    color: #fff;
  }

  h3 {
    font-size: 6rem;
  }
}

.action-buy{
  border-radius: 2rem 0 0 2rem;
  float: left;

  & .overlay {
    border-radius: 2rem 0 0 2rem;
  }
}

.action-sell {
  border-radius: 0 2rem 2rem 0;
  float: rigth;

  & .overlay {
    border-radius: 0 2rem 2rem 0;
  }
}

.overlay {
  height: 100%;
  overflow: hidden;
  padding: 10rem 0;
  width: 100%;

  &:hover {
    background-color: rgba(217, 125, 37, 0.6);
  }

}

