<div class="container">
  <div class="row">
    <acme-navbar></acme-navbar>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Sell View</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form action="submit-vehicle">

        <!-- First Data Column -->
        <div class="col-md-4 col-md-offset-2 col-sm-6">
          <label class="sell-label text-center" for="category">Category</label>
          <select class="form-control" name="category" id="category">
            <option value="Car">Car</option>
            <option value="motorcycle">Motorcycle</option>
          </select>

          <label class="sell-label text-center" for="car-brand">Car Brand</label>
          <select class="form-control" name="car-brand" id="car-brand">
            <option value="">Car brand</option>
            <option value="acura">Acura</option>
            <option value="alfa-romeo">Alfa Romeo</option>
            <option value="alpina">Alpina</option>
            <option value="aston-martin">Aston Martin</option>
            <option value="audi">Audi</option>
            <option value="austin">Austin</option>
            <option value="auverland">Auverland</option>
            <option value="beijing">Beijing</option>
            <option value="bentley">Bentley</option>
            <option value="bmw">BMW</option>
            <option value="bristol">Bristol</option>
            <option value="bugatti">Bugatti</option>
            <option value="buick">Buick</option>
            <option value="cadillac">Cadillac</option>
            <option value="caterham">Caterham</option>
            <option value="chevrolet">Chevrolet</option>
            <option value="chrysler">Chrysler</option>
            <option value="citroen">Citroen</option>
            <option value="daewoo">Daewoo</option>
            <option value="daihatsu">Daihatsu</option>
            <option value="de-tomaso">De Tomaso</option>
            <option value="dodge">Dodge</option>
            <option value="donkervoort">Donkervoort</option>
            <option value="eagle">Eagle</option>
            <option value="ferrari">Ferrari</option>
            <option value="fiat">Fiat</option>
            <option value="ford">Ford</option>
            <option value="ginetta">Ginetta</option>
            <option value="gmc">GMC</option>
            <option value="holden">Holden</option>
            <option value="honda">Honda</option>
            <option value="hyundai">Hyundai</option>
            <option value="infiniti">Infiniti</option>
            <option value="isuzu">Isuzu</option>
            <option value="italdesign">Italdesign</option>
            <option value="jaguar">Jaguar</option>
            <option value="jeep">Jeep</option>
            <option value="jensen">Jensen</option>
            <option value="kia">Kia</option>
            <option value="lada">Lada</option>
            <option value="lamborghini">Lamborghini</option>
            <option value="lancia">Lancia</option>
            <option value="land-rover">Land Rover</option>
            <option value="lexus">Lexus</option>
            <option value="lincoln">Lincoln</option>
            <option value="lotec">Lotec</option>
            <option value="lotus">Lotus</option>
            <option value="mahindra">Mahindra</option>
            <option value="marcos">Marcos</option>
            <option value="maserati">Maserati</option>
            <option value="mazda">Mazda</option>
            <option value="mclaren">McLaren</option>
            <option value="mercedes-benz">Mercedes-Benz</option>
            <option value="mercury">Mercury</option>
            <option value="mg">MG</option>
            <option value="mini">Mini</option>
            <option value="mitsubishi">Mitsubishi</option>
            <option value="morgan">Morgan</option>
            <option value="nissan">Nissan</option>
            <option value="oldsmobile">Oldsmobile</option>
            <option value="opel">Opel</option>
            <option value="peugeot">Peugeot</option>
            <option value="plymouth">Plymouth</option>
            <option value="pontiac">Pontiac</option>
            <option value="porsche">Porsche</option>
            <option value="proton">Proton</option>
            <option value="reliant">Reliant</option>
            <option value="renault">Renault</option>
            <option value="rolls-royce">Rolls-Royce</option>
            <option value="rover">Rover</option>
            <option value="saab">Saab</option>
            <option value="seat">Seat</option>
            <option value="skoda">Skoda</option>
            <option value="steyr">Steyr</option>
            <option value="subaru">Subaru</option>
            <option value="suzuki">Suzuki</option>
            <option value="tata">Tata</option>
            <option value="toyota">Toyota</option>
            <option value="tvr">TVR</option>
            <option value="vauxhall">Vauxhall</option>
            <option value="venturi">Venturi</option>
            <option value="volkswagen">Volkswagen</option>
            <option value="volvo">Volvo</option>
            <option value="westfield">Westfield</option>
            <option value="xedos">Xedos</option>
            <option value="zastava">Zastava</option>
            <option value="zaz">ZAZ</option>
          </select>

          <label class="sell-label text-center" for="moto-brand">Motorcycle Brand</label>
          <select class="form-control" name="moto-brand" id="moto-brand">
            <option value="">Motorcycle brand</option>
            <option value="ahm">AHM</option>
            <option value="akt">AKT</option>
            <option value="aprilia">Aprilia</option>
            <option value="argo">Argo</option>
            <option value="articcat">Artic Cat</option>
            <option value="bmw">BMW</option>
            <option value="bsa">BSA</option>
            <option value="bajaj">Bajaj</option>
            <option value="benelli">Benelli</option>
            <option value="bombardier">Bombardier</option>
            <option value="buell">Buell</option>
            <option value="bultaco">Bultaco</option>
            <option value="canam">CAN-AM</option>
            <option value="cfmoto">CFMOTO</option>
            <option value="cagiva">Cagiva</option>
            <option value="cobra">Cobra</option>
            <option value="daelim">Daelim</option>
            <option value="dinly">Dinly</option>
            <option value="ducati">Ducati</option>
            <option value="electrobike">Electro Bike</option>
            <option value="formula">Formula</option>
            <option value="freedom">Freedom</option>
            <option value="gasgas">Gas Gas</option>
            <option value="geeley">Geeley</option>
            <option value="genesis">Genesis</option>
            <option value="haojue">Haojue</option>
            <option value="harleydavidson">Harley Davidson</option>
            <option value="hero">Hero</option>
            <option value="honda">Honda</option>
            <option value="husaberg">Husaberg</option>
            <option value="husqvarna">Husqvarna</option>
            <option value="hyosung">Hyosung</option>
            <option value="jawa">Jawa</option>
            <option value="jialing">Jialing</option>
            <option value="ktm">KTM</option>
            <option value="katana">Katana</option>
            <option value="kawasaki">Kawasaki</option>
            <option value="keeway">Keeway</option>
            <option value="kinetic">Kinetic</option>
            <option value="kymco">Kymco</option>
            <option value="lml">LML</option>
            <option value="lifan">Lifan</option>
            <option value="loncin">Loncin</option>
            <option value="mvaugusta">MV Agusta</option>
            <option value="mz">MZ</option>
            <option value="montesa">Montesa</option>
            <option value="motocruiser">Moto Cruiser</option>
            <option value="motoguzzi">Moto Guzzi</option>
            <option value="mototek">Moto Tek</option>
            <option value="motoped">Motoped</option>
            <option value="nsu">NSU</option>
            <option value="osaka">Osaka</option>
            <option value="ossa">Ossa</option>
            <option value="peugeot">Peugeot</option>
            <option value="piaggio">Piaggio</option>
            <option value="pitster">Pitster</option>
            <option value="polaris">Polaris</option>
            <option value="qingqui">Qingqui</option>
            <option value="rokk">Rokk</option>
            <option value="ssr">SSR</option>
            <option value="sym">SYM</option>
            <option value="sachs">Sachs</option>
            <option value="sangyang">Sang Yang</option>
            <option value="senke">Senke</option>
            <option value="serpento">Serpento</option>
            <option value="body_styles_marca_sherco">Sherco</option>
            <option value="sinski">Sinski</option>
            <option value="spazzio">Spazzio</option>
            <option value="sukida">Sukida</option>
            <option value="suzuki">Suzuki</option>
            <option value="tgb">TGB</option>
            <option value="tvs">TVS</option>
            <option value="triumph">Triumph</option>
            <option value="um">UM</option>
            <option value="ybico">Unico</option>
            <option value="vento">Vento</option>
            <option value="vespa">Vespa</option>
            <option value="victory">Victory</option>
            <option value="yamaha">Yamaha</option>
            <option value="yumbo">Yumbo</option>
            <option value="zongshen">Zongshen</option>
            <option value="zundapp">Zundapp</option>
          </select>

          <label class="sell-label text-center" for="model">Model</label>
          <input class="form-control" type="text" name="model" placeholder="Model">

          <label class="sell-label text-center" for="color">Color</label>
          <input class="form-control" type="color" name="color">

          <label class="sell-label text-center" for="comment">Comment</label>
          <textarea class="form-control" name="comment" id="comment" cols="30" rows="6" placeholder="Comment"></textarea>

          <label class="sell-label text-center" for="condition">Condition</label>
          <select class=" form-control" name="condition" id="condition">
            <option value="new">New</option>
            <option value="used">Used</option>
            <option value="wrecked">Wrecked</option>
          </select>

          <label class="sell-label text-center" for="doors">Doors</label>
          <div class="input-group">
            <select class=" form-control" name="doors" id="doors">
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
            <div class="input-group-addon">Doors</div>
          </div>

          <label class="sell-label text-center" for="drive-train">Drive Train</label>
          <select class=" form-control" name="drive-train" id="drive-train">
            <option value="Front Wheel Drive (FWD)">Front Wheel Drive (FWD)</option>
            <option value="Rear Wheel Drive (RWD)">Rear Wheel Drive (RWD)</option>
            <option value="All Wheel Drive (AWD)">All Wheel Drive (AWD)</option>
            <option value="All Terrain (4X4)">All Terrain (4X4)</option>
            <option value="All Terrain (6X6)">All Terrain (6X6)</option>
          </select>

          <label class="sell-label text-center" for="engine-type">Engine Type</label>
          <input class="form-control" type="text" name="engine-type" placeholder="Engine Type">

          <label class="sell-label text-center" for="engine-displacement">Engine Displacement (cc)</label>
          <input class="form-control" type="number" name="engine-displacement" placeholder="Engine Displacement (cc)">
        </div>

        <!-- Second Data Column -->
        <div class="col-md-4 col-sm-6">
          <label class="sell-label text-center" for="transmition">Transmition</label>
          <input class="form-control" type="text" name="transmition" placeholder="Transmition">

          <label class="sell-label text-center" for="fuel-type">Fuel Type</label>
          <select class=" form-control" name="fuel-type" id="fuel-type">
            <option value="gasoline">Gasoline</option>
            <option value="diesel">Diesel</option>
            <option value="hibrid">Hybrid</option>
            <option value="electric">Electric</option>
          </select>

          <label class="sell-label text-center" for="images">Images</label>
          <input class="form-control" type="file" name="images">

          <label class="sell-label text-center" for="body-style">Body Style</label>
          <select class="form-control" name="body-style" id="Body Style">
            <option value="suv">Suv</option>
            <option value="truck">Truck</option>
            <option value="sedan">Sedan</option>
            <option value="van">Van</option>
            <option value="coupe">Coupe</option>
            <option value="wagon">Wagon</option>
            <option value="convertible">Convertible</option>
            <option value="sports car">Sports car</option>
            <option value="crossover">Crossover</option>
            <option value="luxury">Luxury</option>
            <option value="hatchback">Hatchback</option>
          </select>

          <label class="sell-label text-center" for="mileage">Mileage</label>
          <div class="input-group">
          <input class="form-control" type="number" name="mileage" placeholder="Mileage">
          <div class="input-group-addon">Miles</div>
          </div>

          <label class="sell-label text-center" for="modifications">Vehicle Modifications</label>
          <textarea class=" form-control" name="modifications" id="modifications" cols="30" rows="6" placeholder="Vehicle Modifications"></textarea>

          <label class="sell-label text-center" for="plate">Car Plate</label>
          <input class="form-control" type="text" name="plate" placeholder="Car Plate">

          <label class="sell-label text-center" for="power">Power Output</label>
          <div class="input-group">
            <input class="form-control" type="text" name="power" placeholder="Power Output">
            <div class="input-group-addon">HP</div>
          </div>

          <label class="sell-label text-center" for="price">Vehicle Price</label>
          <div class="input-group">
            <input class="form-control" type="number" name="price" placeholder="Vehicle Price">
            <div class="input-group-addon">$</div>
          </div>
          <label class="sell-label text-center" for="rebuilt">Rebuilt</label>
          <select class=" form-control" name="rebuilt" id="rebuilt">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>

          <label class="sell-label text-center" for="year">Year</label>
          <select class="form-control" name="year" id="year">
            <option value="">---</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
            <option value="2005">2005</option>
            <option value="2004">2004</option>
            <option value="2003">2003</option>
            <option value="2002">2002</option>
            <option value="2001">2001</option>
            <option value="2000">2000</option>
            <option value="1999">1999</option>
            <option value="1998">1998</option>
            <option value="1997">1997</option>
            <option value="1996">1996</option>
            <option value="1995">1995</option>
            <option value="1994">1994</option>
            <option value="1993">1993</option>
            <option value="1992">1992</option>
            <option value="1991">1991</option>
            <option value="1990">1990</option>
            <option value="1989">1989</option>
            <option value="1988">1988</option>
            <option value="1987">1987</option>
            <option value="1986">1986</option>
            <option value="1985">1985</option>
            <option value="1984">1984</option>
            <option value="1983">1983</option>
            <option value="1982">1982</option>
            <option value="1981">1981</option>
            <option value="1980">1980</option>
            <option value="1979">1979</option>
            <option value="1978">1978</option>
            <option value="1977">1977</option>
            <option value="1976">1976</option>
            <option value="1975">1975</option>
            <option value="1974">1974</option>
            <option value="1973">1973</option>
            <option value="1972">1972</option>
            <option value="1971">1971</option>
            <option value="1970">1970</option>
            <option value="1969">1969</option>
            <option value="1968">1968</option>
            <option value="1967">1967</option>
            <option value="1966">1966</option>
            <option value="1965">1965</option>
            <option value="1964">1964</option>
            <option value="1963">1963</option>
            <option value="1962">1962</option>
            <option value="1961">1961</option>
            <option value="1960">1960</option>
            <option value="1959">1959</option>
            <option value="1958">1958</option>
            <option value="1957">1957</option>
            <option value="1956">1956</option>
            <option value="1955">1955</option>
            <option value="1954">1954</option>
            <option value="1953">1953</option>
            <option value="1952">1952</option>
            <option value="1951">1951</option>
            <option value="1950">1950</option>
            <option value="1949">1949</option>
            <option value="1948">1948</option>
            <option value="1947">1947</option>
            <option value="1946">1946</option>
            <option value="1945">1945</option>
            <option value="1944">1944</option>
            <option value="1943">1943</option>
            <option value="1942">1942</option>
            <option value="1941">1941</option>
            <option value="1940">1940</option>
          </select>

          <!-- <button class="btn btn-success sell-btn">Save</button> -->
        </div>

        <!-- Extras -->
        <div class="col-md-8 col-md-offset-2 extras-container">
          <label class="sell-label text-center extras-label" for="extras">Extras</label>
          <fieldset name="extras">
            <div class="col-md-6">
              <div>
                <input class="checkbox-inline" type="checkbox" name="power-steering" value="power steering">
                <label class="sell-checkbox-label" for="power-steering"> Power Steering</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="tinted-glass" value="tinted glass">
                <label class="sell-checkbox-label" for="tinted-glass"> Tinted glass</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="power-mirrors" value="power mirrors">
                <label class="sell-checkbox-label" for="power-mirrors"> Power Mirrors</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="ac" value="ac">
                <label class="sell-checkbox-label" for="ac"> A/C</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="luxury-rims" value="luxury rims">
                <label class="sell-checkbox-label" for="luxury-rims"> Luxury Rims</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="halogen-lights" value="halogen lights">
                <label class="sell-checkbox-label" for="halogen-lights"> Halogen Lights</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="cruise-control" value="cruise control">
                <label class="sell-checkbox-label" for="cruise-control"> Cruise Control</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="electronic-stability-control" value="electronic stability control">
                <label class="sell-checkbox-label" for="electronic-stability-control"> ESC</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="reversing-camera" value="reversing camera">
                <label class="sell-checkbox-label" for="reversing-camera"> Reversing Camera</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="steering-wheel-radio-controls" value="steering wheel radio controls">
                <label class="sell-checkbox-label" for="steering-wheel-radio-controls"> Steering Wheel Controls</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="memory-seats" value="memory seats">
                <label class="sell-checkbox-label" for="memory-seats"> Memory Seats</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="travel-computer" value="travel computer">
                <label class="sell-checkbox-label" for="travel-computer"> Travel Computer</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="rain-sensor" value="rain sensor">
                <label class="sell-checkbox-label" for="rain-sensor"> Rain Sensor</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="airbags" value="airbags">
                <label class="sell-checkbox-label" for="airbags"> Airbags</label>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <input class="checkbox-inline" type="checkbox" name="alarm" value="alarm">
                <label class="sell-checkbox-label" for="alarm"> Alarm</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="defroster" value="defroster">
                <label class="sell-checkbox-label" for="defroster"> Defroster</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="turbo" value="turbo">
                <label class="sell-checkbox-label" for="turbo"> Turbo</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="reversing-sensors" value="reversing sensors">
                <label class="sell-checkbox-label" for="reversing-sensors"> Reversing Sensors</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="start-button" value="start button">
                <label class="sell-checkbox-label" for="start-button"> Start Button</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="smart-key" value="smart key">
                <label class="sell-checkbox-label" for="smart-key"> Smart Key</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="adjustable-steering" value="adjustable steering">
                <label class="sell-checkbox-label" for="adjustable-steering"> Adjustable Steering</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="power-seats" value="power seats">
                <label class="sell-checkbox-label" for="power-seats"> Power Seats</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="power-windows" value="power windows">
                <label class="sell-checkbox-label" for="power-windows"> Power Windows</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="abs-breaks" value="abs breaks">
                <label class="sell-checkbox-label" for="abs-breaks"> ABS Breaks</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="sunroof" value="sunroof">
                <label class="sell-checkbox-label" for="sunroof"> Sunroof</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="panoramic-roof" value="panoramic roof">
                <label class="sell-checkbox-label" for="panoramic-roof"> Panoramic Roof</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="usb-aux-radio" value="usb-aux-radio">
                <label class="sell-checkbox-label" for="usb-aux-radio"> Radio (USB-AUX)</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="lcd-screen" value="lcd-screen">
                <label class="sell-checkbox-label" for="lcd-screen"> LCD Screen</label>
              </div>
            </div>
          </fieldset>
        </div>
        <!-- Submit Button -->
        <div class="col-md-3 col-md-offset-5">
          <button class="btn btn-success sell-btn">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <main-footer></main-footer>
    </div>
  </div>
</div>
