<div class="container">
  <div class="row">
    <acme-navbar></acme-navbar>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Sell View</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form action="submit-vehicle">
        <div class="col-md-4 col-md-offset-2 col-sm-6">
          <label class="sell-label text-center" for="category">Category</label>
          <select class="form-control" name="category" id="category">
            <option value="motorcycle">Motorcycle</option>
            <option value="Car">Car</option>
          </select>

          <label class="sell-label text-center" for="vehicle-brand">Brand</label>
          <input class="form-control" type="text" name="brand" placeholder="Brand">

          <label class="sell-label text-center" for="model">Model</label>
          <input class="form-control" type="text" name="model" placeholder="Model">

          <label class="sell-label text-center" for="color">Color</label>
          <input class="form-control" type="color" name="color">

          <label class="sell-label text-center" for="comment">Comment</label>
          <textarea class="form-control" name="comment" id="comment" cols="30" rows="6" placeholder="Comment"></textarea>

          <label class="sell-label text-center" for="condition">Condition</label>
          <select class=" form-control" name="condition" id="condition">
            <option value="new">New</option>
            <option value="used">Used</option>
            <option value="wrecked">Wrecked</option>
          </select>

          <label class="sell-label text-center" for="doors">Doors</label>
          <div class="input-group">
            <select class=" form-control" name="doors" id="doors">
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
            <div class="input-group-addon">Doors</div>
          </div>

          <label class="sell-label text-center" for="drive-train">Drive Train</label>
          <select class=" form-control" name="drive-train" id="drive-train">
            <option value="Front Wheel Drive (FWD)">Front Wheel Drive (FWD)</option>
            <option value="Rear Wheel Drive (RWD)">Rear Wheel Drive (RWD)</option>
            <option value="All Wheel Drive (AWD)">All Wheel Drive (AWD)</option>
            <option value="All Terrain (4X4)">All Terrain (4X4)</option>
            <option value="All Terrain (6X6)">All Terrain (6X6)</option>
          </select>

          <label class="sell-label text-center" for="engine-type">Engine Type</label>
          <input class="form-control" type="text" name="engine-type" placeholder="Engine Type">

          <label class="sell-label text-center" for="engine-displacement">Engine Displacement (cc)</label>
          <input class="form-control" type="number" name="engine-displacement" placeholder="Engine Displacement (cc)">

          <label class="sell-label text-center" for="transmition">Transmition</label>
          <input class="form-control" type="text" name="transmition" placeholder="Transmition">
        </div>
        <div class="col-md-4 col-sm-6">
          <label class="sell-label text-center" for="fuel-type">Fuel Type</label>
          <select class=" form-control" name="fuel-type" id="fuel-type">
            <option value="gasoline">Gasoline</option>
            <option value="diesel">Diesel</option>
            <option value="hibrid">Hybrid</option>
            <option value="electric">Electric</option>
          </select>

          <label class="sell-label text-center" for="images">Images</label>
          <input class="form-control" type="file" name="images">

          <label class="sell-label text-center" for="body-style">Body Style</label>
          <select class="form-control" name="body-style" id="Body Style">
            <option value="suv">suv</option>
            <option value="truck">truck</option>
            <option value="sedan">sedan</option>
            <option value="van">van</option>
            <option value="coupe">coupe</option>
            <option value="wagon">wagon</option>
            <option value="convertible">convertible</option>
            <option value="sports car">sports car</option>
            <option value="crossover">crossover</option>
            <option value="luxury">luxury</option>
            <option value="hatchback">hatchback</option>
          </select>

          <label class="sell-label text-center" for="mileage">Mileage</label>
          <div class="input-group">
          <input class="form-control" type="number" name="mileage" placeholder="Mileage">
          <div class="input-group-addon">Miles</div>
          </div>

          <label class="sell-label text-center" for="modifications">Vehicle Modifications</label>
          <textarea class=" form-control" name="modifications" id="modifications" cols="30" rows="6" placeholder="Vehicle Modifications"></textarea>

          <label class="sell-label text-center" for="plate">Car Plate</label>
          <input class="form-control" type="text" name="plate" placeholder="Car Plate">

          <label class="sell-label text-center" for="power">Power Output</label>
          <div class="input-group">
            <input class="form-control" type="text" name="power" placeholder="Power Output">
            <div class="input-group-addon">HP</div>
          </div>

          <label class="sell-label text-center" for="price">Vehicle Price</label>
          <div class="input-group">
            <input class="form-control" type="number" name="price" placeholder="Vehicle Price">
            <div class="input-group-addon">$</div>
          </div>
          <label class="sell-label text-center" for="rebuilt">Rebuilt</label>
          <select class=" form-control" name="rebuilt" id="rebuilt">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>

          <label class="sell-label text-center" for="year">Year</label>
          <input class="form-control" type="number" name="year" placeholder="Year">

          <button class="btn btn-success sell-btn">Save</button>
        </div>

        <div class="col-md-8 col-md-offset-2 extras-container">
          <label class="sell-label text-center extras-label" for="extras">Extras</label>
          <fieldset name="extras">
            <div class="col-md-6">
              <div>
                <input class="checkbox-inline" type="checkbox" name="power-steering" value="power steering">
                <label class="sell-checkbox-label" for="power-steering"> Power Steering</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="tinted-glass" value="tinted glass">
                <label class="sell-checkbox-label" for="tinted-glass"> Tinted glass</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="power-mirrors" value="power mirrors">
                <label class="sell-checkbox-label" for="power-mirrors"> Power Mirrors</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="ac" value="ac">
                <label class="sell-checkbox-label" for="ac"> A/C</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="luxury-rims" value="luxury rims">
                <label class="sell-checkbox-label" for="luxury-rims"> Luxury Rims</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="halogen-lights" value="halogen lights">
                <label class="sell-checkbox-label" for="halogen-lights"> Halogen Lights</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="cruise-control" value="cruise control">
                <label class="sell-checkbox-label" for="cruise-control"> Cruise Control</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="electronic-stability-control" value="electronic stability control">
                <label class="sell-checkbox-label" for="electronic-stability-control"> ESC</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="reversing-camera" value="reversing camera">
                <label class="sell-checkbox-label" for="reversing-camera"> Reversing Camera</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="steering-wheel-radio-controls" value="steering wheel radio controls">
                <label class="sell-checkbox-label" for="steering-wheel-radio-controls"> Steering Wheel Controls</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="memory-seats" value="memory seats">
                <label class="sell-checkbox-label" for="memory-seats"> Memory Seats</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="travel-computer" value="travel computer">
                <label class="sell-checkbox-label" for="travel-computer"> Travel Computer</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="rain-sensor" value="rain sensor">
                <label class="sell-checkbox-label" for="rain-sensor"> Rain Sensor</label>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <input class="checkbox-inline" type="checkbox" name="airbags" value="airbags">
                <label class="sell-checkbox-label" for="airbags"> Airbags</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="alarm" value="alarm">
                <label class="sell-checkbox-label" for="alarm"> Alarm</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="defroster" value="defroster">
                <label class="sell-checkbox-label" for="defroster"> Defroster</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="turbo" value="turbo">
                <label class="sell-checkbox-label" for="turbo"> Turbo</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="reversing-sensors" value="reversing sensors">
                <label class="sell-checkbox-label" for="reversing-sensors"> Reversing Sensors</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="start-button" value="start button">
                <label class="sell-checkbox-label" for="start-button"> Start Button</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="smart-key" value="smart key">
                <label class="sell-checkbox-label" for="smart-key"> Smart Key</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="adjustable-steering" value="adjustable steering">
                <label class="sell-checkbox-label" for="adjustable-steering"> Adjustable Steering</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="power-seats" value="power seats">
                <label class="sell-checkbox-label" for="power-seats"> Power Seats</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="power-windows" value="power windows">
                <label class="sell-checkbox-label" for="power-windows"> Power Windows</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="abs-breaks" value="abs breaks">
                <label class="sell-checkbox-label" for="abs-breaks"> ABS Breaks</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="sunroof" value="sunroof">
                <label class="sell-checkbox-label" for="sunroof"> Sunroof</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="panoramic-roof" value="panoramic roof">
                <label class="sell-checkbox-label" for="panoramic-roof"> Panoramic Roof</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="usb-aux-radio" value="usb-aux-radio">
                <label class="sell-checkbox-label" for="usb-aux-radio"> Radio (USB-AUX)</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="lcd-screen" value="lcd-screen">
                <label class="sell-checkbox-label" for="lcd-screen"> LCD Screen</label>
              </div>
            </div>
          </fieldset>
        </div>

      </form>
    </div>
  </div>

  <div class="row">
    <main-footer></main-footer>
  </div>
</div>
