<div class="container" ng-controller="SellController as sell">
  <div class="row">
    <acme-navbar></acme-navbar>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form ng-submit="sell.submitVehicle()" name="submit-vehicle" ng-switch="sell.categorySelect">

        <!-- First Data group-->
        <div class="col-md-4 col-md-offset-2 col-sm-6">
          <label class="sell-label text-center" for="category">Category</label>
          <select required class="form-control" name="category" ng-model="sell.categorySelect">
            <option ng-repeat="cat in sell.category" value="{{cat.value}}">{{cat.value}}</option>
          </select>
          <!-- brand options if category = car-->
          <div ng-switch-when="car">
            <label class="sell-label text-center" for="car-brand">Car Brand</label>
            <select required class="form-control" name="car-brand" ng-model="sell.carBrandSelect">

              <option ng-repeat="brand in sell.carBrand" value="{{brand.value}}">{{brand.value}}</option>
            </select>
          </div>
          <!-- brand options if category = motorcycle-->
          <div ng-switch-when="motorcycle">
            <label class="sell-label text-center" for="moto-brand">Motorcycle Brand</label>
            <select required class="form-control" name="moto-brand" ng-model="sell.motoBrandSelect">

              <option ng-repeat="brand in sell.motoBrand" value="{{brand.value}}">{{brand.value}}</option>
            </select>
          </div>

          <label class="sell-label text-center" for="model">Model</label>
          <input required class="form-control" type="text" name="model" placeholder="Model" ng-model="sell.model">

          <label class="sell-label text-center" for="color">Color</label>
          <input required class="form-control" type="color" name="color" ng-model="sell.color">

          <label class="sell-label text-center" for="comment">Comment</label>
          <textarea class="form-control" name="comment" cols="30" rows="6" placeholder="Comment" ng-model="sell.comment"></textarea>

          <label class="sell-label text-center" for="condition">Condition</label>
          <select required class=" form-control" name="condition" ng-model="sell.conditionSelect">
            <option ng-repeat="cond in sell.condition" value="{{cond.value}}">{{cond.value}}</option>
          </select>

          <!-- Select doors activates if category = car -->
          <div ng-switch-when="car">
            <label class="sell-label text-center" for="doors">Doors</label>
            <div class="input-group">
              <select required class=" form-control" name="doors" ng-model="sell.doorsSelect">

                <option ng-repeat="door in sell.doors" value="{{door.value}}">{{door.value}}</option>
              </select>
              <div class="input-group-addon">Doors</div>
            </div>
          </div>

          <!-- Select driveTrain activates if category = car -->
          <div ng-switch-when="car">
            <label class="sell-label text-center" for="drive-train">Drive Train Type</label>
            <select required class=" form-control" name="drive-train" ng-model="sell.driveType">
              <option ng-repeat="drive in sell.driveTrain" value="{{drive.value}}">{{drive.name}}</option>
            </select>
          </div>
          <label class="sell-label text-center" for="engine-type">Engine Type</label>
          <input class="form-control" type="text" name="engine-type" placeholder="Engine Type" ng-model="sell.engineType">

          <label class="sell-label text-center" for="engine-displacement">Engine Displacement (cc)</label>
          <input required class="form-control" type="number" name="engine-displacement" placeholder="Engine Displacement (cc)" ng-model="sell.displacement">
        </div>

        <!-- Second Data group-->
        <div class="col-md-4 col-sm-6">
          <!-- Select transmition activates if category = car -->
          <div ng-switch-when="car">
            <label class="sell-label text-center" for="transmition">Transmition</label>
            <select required class="form-control" name="transmition" ng-model="sell.trans">
              <option ng-repeat="trans in sell.transmition" value="{{trans.value}}">{{trans.name}}</option>
            </select>
          </div>

          <div ng-switch-when="car">
            <label class="sell-label text-center" for="fuel-type">Fuel Type</label>
            <select required class=" form-control" name="fuel-type" ng-model="sell.fuelTypeSelect">

              <option ng-repeat="fuel in sell.fuelType" value="{{fuel.value}}">{{fuel.value}}</option>
            </select>
          </div>

          <div ng-switch-when="car">
            <label class="sell-label text-center" for="body-style">Body Style</label>
            <select required class="form-control" name="body-style" ng-model="sell.bodyStyleSelect">
              <option ng-repeat="body in sell.bodyStyle" value="{{body.value}}">{{body.name}}</option>
            </select>
          </div>

          <label class="sell-label text-center" for="mileage">Mileage</label>
          <div class="input-group">
            <input class="form-control" type="number" name="mileage" placeholder="Mileage" ng-model="sell.milleage">
            <div class="input-group-addon">Miles</div>
          </div>

          <label class="sell-label text-center" for="modifications">Vehicle Modifications</label>
          <textarea class=" form-control" name="modifications" cols="30" rows="6" placeholder="Vehicle Modifications" ng-model="sell.mods"></textarea>

          <label class="sell-label text-center" for="plate">Vehicle Plate</label>
          <input class="form-control" type="text" name="plate" placeholder="vehicle Plate" ng-model="sell.plate">

          <label class="sell-label text-center" for="power">Power Output</label>
          <div class="input-group">
            <input class="form-control" type="text" name="power" placeholder="Power Output" ng-model="sell.power">
            <div class="input-group-addon">HP</div>
          </div>

          <label class="sell-label text-center" for="price">Vehicle Price</label>
          <div class="input-group">
            <input required class="form-control" type="number" name="price" placeholder="Vehicle Price" ng-model="sell.price">
            <div class="input-group-addon">$</div>
          </div>
          <label class="sell-label text-center" for="rebuilt">Rebuilt</label>
          <select required class=" form-control" name="rebuilt" ng-model="sell.rebuilt">

            <option ng-repeat="rebuild in sell.rebuild" value="{{rebuild.value}}">{{rebuild.name}}</option>
          </select>

          <label class="sell-label text-center" for="year">Year</label>
          <select required class="form-control" name="year"  ng-model="sell.yearSelect">

            <option ng-repeat="year in sell.year" value="{{year.value}}">{{year.value}}</option>
          </select>

          <label class="sell-label text-center" for="images">Images</label>
          <input id='img-upload' class="form-control" type="file" name="images">
        </div>

        <!-- Extras -->
        <div class="col-md-8 col-md-offset-2  col-sm-12 col-xs-12 extras-container" ng-switch-when="car">
          <label class="sell-label text-center extras-label" for="extras">Extras</label>
          <fieldset name="extras">
            <div class="col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-3">
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="power-steering" ng-model="sell.pwrSteering">
                <label class="sell-checkbox-label" for="power-steering"> Power Steering</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="tinted-glass" ng-model="sell.glass">
                <label class="sell-checkbox-label" for="tinted-glass"> Tinted glass</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="power-mirrors">
                <label class="sell-checkbox-label" for="power-mirrors" ng-model="sell.pwrMirrors"> Power Mirrors</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="ac" ng-model="sell.ac">
                <label class="sell-checkbox-label" for="ac"> A/C</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="luxury-rims" ng-model="sell.rims">
                <label class="sell-checkbox-label" for="luxury-rims"> Luxury Rims</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="halogen-lights" ng-model="sell.halogen">
                <label class="sell-checkbox-label" for="halogen-lights"> Halogen Lights</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="cruise-control" ng-model="sell.cruise">
                <label class="sell-checkbox-label" for="cruise-control"> Cruise Control</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="electronic-stability-control" ng-model="sell.esc">
                <label class="sell-checkbox-label" for="electronic-stability-control"> ESC</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="reversing-camera" ng-model="sell.reverseCam">
                <label class="sell-checkbox-label" for="reversing-camera"> Reversing Camera</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="steering-wheel-radio-controls" ng-model="sell.wheelCtrls">
                <label class="sell-checkbox-label" for="steering-wheel-radio-controls"> Steering Wheel Controls</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="memory-seats" ng-model="sell.memSeats">
                <label class="sell-checkbox-label" for="memory-seats"> Memory Seats</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="travel-computer"  ng-model="sell.travelCpu">
                <label class="sell-checkbox-label" for="travel-computer"> Travel Computer</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="rain-sensor"  ng-model="sell.rainSensor">
                <label class="sell-checkbox-label" for="rain-sensor"> Rain Sensor</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="airbags" ng-model="sell.airbags">
                <label class="sell-checkbox-label" for="airbags"> Airbags</label>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="alarm">
                <label class="sell-checkbox-label" for="alarm"> Alarm</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="defroster"  ng-model="sell.defroster">
                <label class="sell-checkbox-label" for="defroster"> Defroster</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="turbo" ng-model="sell.turbo">
                <label class="sell-checkbox-label" for="turbo"> Turbo</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="reversing-sensors" ng-model="sell.reverseSensors">
                <label class="sell-checkbox-label" for="reversing-sensors"> Reversing Sensors</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="start-button"  ng-model="sell.startBtn">
                <label class="sell-checkbox-label" for="start-button"> Start Button</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="smart-key" ng-model="sell.smartKey">
                <label class="sell-checkbox-label" for="smart-key"> Smart Key</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="adjustable-steering"  ng-model="sell.adjSteering">
                <label class="sell-checkbox-label" for="adjustable-steering"> Adjustable Steering</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="power-seats" ng-model="sell.pwrSeats">
                <label class="sell-checkbox-label" for="power-seats"> Power Seats</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="power-windows" ng-model="sell.pwrWindows">
                <label class="sell-checkbox-label" for="power-windows"> Power Windows</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="abs-breaks" ng-model="sell.abs">
                <label class="sell-checkbox-label" for="abs-breaks"> ABS Breaks</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="sunroof" ng-model="sell.sunroof">
                <label class="sell-checkbox-label" for="sunroof"> Sunroof</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="panoramic-roof" ng-model="sell.panRoof">
                <label class="sell-checkbox-label" for="panoramic-roof"> Panoramic Roof</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="usb-aux-radio" ng-model="sell.radioUsbAux">
                <label class="sell-checkbox-label" for="usb-aux-radio"> Radio (USB-AUX)</label>
              </div>
              <div>
                <input class="checkbox-inline" type="checkbox" name="extras" value="lcd-screen" ng-model="sell.lcdScreen">
                <label class="sell-checkbox-label" for="lcd-screen"> LCD Screen</label>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- Submit Button -->
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-2 col-md-offset-5">
              <input type="submit" value="Save" class="btn btn-success sell-btn">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <main-footer></main-footer>
    </div>
  </div>
</div>
