.sell-label {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

.sell-btn {
  margin: 1rem auto;
}

.extras-container {
  background-color: rgba(40, 40, 40, 0.6);
  border: 1px solid #fff;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

.extras-label {
  margin: 2rem 0;
}

.sell-btn {
  padding: 0.5rem 6rem;
}
